* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    background: url("https://2.bp.blogspot.com/-SUMDIuZ7m48/TeWj1YDWcNI/AAAAAAAABhg/9fjPiDZHwms/s1600/winter.JPG") fixed;
    background-size: cover;
    background-size: 100%;
    font-size: 25px;
    font-family: 'Signika Negative', sans-serif;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

p {
    padding: 0 5%;
    margin: 25px 0;
}

header {
    background: rgba(255, 255, 255, .5);
    height: 55px;
    padding: 1%;
    display: flex;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
}

header a {
    margin-left: 10px;
    font-size: 20px;
}

#content {
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#content h1 {
    color: #fff;
}

#show-more {
    background: white;
    text-align: center;
}

#show-more a {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
}

#whow-more a:hover {
    color: #777;
}

#white-container {
    background-color: #eeeeec;
    overflow: hidden;
    padding: 0 5%;
}

#transparent-container {
    background: rgba(255, 255, 255, .5);
    overflow: hidden;
    padding: 0 5%;
}

footer {
    background-color: #010105;
    color: #eeeeec;
    padding: 0 5%;
    overflow: hidden;
}

footer p a {
color: #322bff;
text-decoration: underline;
transition: 500ms;

}

footer p a:hover {
    color: #26a1ff;
}