* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

#landing_page {
    background-image: url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px;
}

#landing_page h1 {
    font-size: 50px;
    line-height: 1.2;
    padding: 0px;
}

#landing_page p {
    font-size: 20px;
    padding: 0px;
    text-align: center;
}

#landing_page .button {
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: 1px solid #926239;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#landing_page .button:hover {
    background: #926239;
    color: #fff;
}

section:nth-child(odd) {
    background: #926239;
    color: #fff;
}

section:nth-child(even) {
    background: #f4f4f4;
}

section {
    padding: 20px;
    text-align: center;
}

.section-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.section-flex-wrap .box {
    flex: 1 1 300px;
    padding: 20px;
}

.section-flex-wrap .box:nth-child(odd) {
    background: #926239;
    color: #fff;
}

.section-flex-wrap .box:nth-child(even) {
    background: #f4f4f4;
    color: #926239;
}
